body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    color: #f02727;
}

.invoice-box {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 3px solid #0b0a0a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 20px;
}

.invoice-box table {
    width: 100%;
    line-height: 20px;
    text-align: left;
    color: #f71206;
}

.invoice-box table td {
    padding: 5px;
    vertical-align: top;
}

.invoice-box table tr td :nth-child(2){
    text-align: right;
}

.invoice-box table tr.top table td {
    padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
    font-size: 45px;
    line-height: 75px;
    color: #dfe917;
}

.invoice-box table tr.information table td {
    padding-bottom: 40px;
}

.invoice-box table tr.heading td {
    background: #0ed0e1;
    border-bottom: 1px solid #0e0d0d;
    font-weight: bold;
}

.invoice-box table tr.details td {
    padding-bottom: 35px;
}

.invoice-box table tr.item td {
    border-bottom: 1px solid #13d772;
}

.invoice-box table tr.item.last td {
    border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
    border-top: 2px solid #0ad1f0;
    font-weight: bold;
}
